{% extends "header.html" %}
{% block main_content %}
	 <body>
	  <div class="container-fluid">
      <h3><b><u><i>Prevention</i></u></b></h3>
			<h4></h4>
			<p></p>
			<div class="row">
				<ol>
					<li><p><b>A fasting glucose test is a test of your blood sugar levels taken in the morning before you have eaten. A level of 126 mg/dL or higher may mean that you have diabetes.</p></li>

					<li><p><b>An oral glucose tolerance test (OGTT) entails drinking a beverage containing glucose and then having your blood glucose levels checked every 30 to 60 minutes for up to 3 hours. If the glucose level is 200 mg/dL or higher at 2 hours, then you might have diabetes.
</p></li>

					<li><p><b>The A1c test  is a simple blood test that shows your average blood sugar levels for the past 2-3 months. An A1c level of 6.5% or higher may mean you have diabetes.</p></li>

				</ol>
				<!-- <ul>
					<h3><b><u><i> </i></u></b></h3>
					<p></p>
					<li><b></p></li>
					<li><b></p></li>

				</ul> -->
			</div>
    </div>

	 </body>
{% endblock %}
