{% extends "header.html" %}
{% block main_content %}
<div class="row">
	<br><br>
	<p><h3 align = "center">Input the following data</h3></p>
	<form method=post action="" >
	<table align="center">
		{% for field in form %}
			<tr>
			<td>{{ field.label }}</td><td>{{ field }}</td>
			</tr>
		{% endfor %}
	</table>
	<p align="center"><input type=submit value=Compute></p>
	</form>
</div>

 <div class="row">
	<p align="center" >
	{% if result[0] != None %}
	<p>Person is <b><i><u>{{result[0]}}</u></i></b> </p>
	<p>Accuracy is <b><i><u>{{result[1]}}</u></i></b> </p>

	{% endif %}
	</p>
	{% if result[0] == "NON-DIABETIC"%}
	<div class="row">
	<img src="{{url_for('static', filename='img/benign.png',width=50)}}" />
	<p>You are Safe :) Read more about it below. and check out the instructions <a href="/preventivemeasures">here</a></p>
	</div>
	<h1><b><i><u>{{result[0]}}</u></i></b> Patient:: </h1>
	<div >
	</div>
	{% elif result[0] == "DIABETIC"%}
	<div class="row">
		<img src="{{url_for('static', filename='img/malignant.jpeg',width=50)}}" />
		<p>Don't Worry :) Read more about it below. and check out the instructions <a href="/preventivemeasures">here</a></p>
	</div>

	<h1><b><i><u>{{result[0]}}</u></i></b> Patient:: </h1>
	<div >Diabetes (diabetes mellitus) is classed as a metabolism disorder. Metabolism refers to the way our bodies use digested food for energy and growth. Most of what we eat is broken down into glucose.
		Glucose is a form of sugar in the blood - it is the principal source of fuel for our bodies.


	</div>
	{% endif %}
 </div>

{% endblock %}
